<div class="container" ng-controller="adsList">
    <% include ../public/modal %>
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%>
            <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
            <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
        </legend>
        <div class="panel panel-info">
            <a href="#addAd" role="button" class="btn btn-primary btn-sm" data-toggle="modal"><span class="fa fa-plus-square" aria-hidden="true">&nbsp;</span>Apply Ad</a>
            <input type="hidden" id="targetIds"/>
            <!-- <button class="btn btn-danger btn-sm" ng-click="deleteItems()" role="button"><span class="fa fa-fw fa-trash-o" aria-hidden="true">&nbsp;</span>Delete Selected</button> -->
        </div>
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
					<tr>
						<th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>SortId</th>
                        <th>Type</th>
                        <th>Url</th>
                        <th>Price</th>
						<th>State</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Operation</th>
					</tr>
					<tr class="datalist" ng-repeat="item in data">
						<td><input type="checkbox" name="listItem" class="mini" value="{{item._id}}" ng-click="getNewIds()"/></td>
						<td class=" ">{{item.sortId}}</td>
						<td class=" ">{{item.type}}</td>
						<td class=" ">{{item.url}}</td>
                        <td class="text-danger">{{item.price | currency: '$'}}</td>
						<td class=" "><label class="label" ng-class="{ true: 'label-success', false: 'label-danger' }[item.state]">{{item.state}}</label></td>
						<td class=" ">{{item.date | date : "MM/dd/yy"}}</td>
						<td class=" ">{{item.endDate | date : "MM/dd/yy"}}</td>
						<td class=" ">
							<button class="btn btn-primary btn-xs" data-whatever="{{item._id}}" data-toggle="modal" data-target="#addAd"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>Edit</button>&nbsp;
							<!-- <button class="btn btn-danger btn-xs" ng-click="deleteItems(item._id)"><span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>Delete</button> -->
						</td>
					</tr>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <!--分页-->
                <% include ../public/pagination %>
            </div>
        </div><!-- /.box -->
    </div>
    <!--添加广告模态窗口-->
	<div class="modal fade" id="addAd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Buy Ad</h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)" novalidate>
                        <div class="form-group">
                            <label for="" class="control-label col-sm-4"><span class="text-danger">*</span> Type:</label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="formData.type" name="type" ng-change="clearForm()">
                                    <option value="product" selected="selected">Product</option>
                                    <option value="shop">Hot Shop</option>
                                    <option value="brand">Hot Brand</option>
                                    <option value="slide">Slide</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="formData.type === 'product'">
                            <label for="" class="control-label col-sm-4"><span class="text-danger">*</span> Product:</label>
                            <div class="col-sm-5">
                                <select class="form-control" name="product_id" ng-model="formData.product_id">
                                    <option value="">Select Product</option>
                                    <option ng-repeat="product in productData" value="{{product._id}}">{{product.name | limitTo: 40}}</option>
                                </select>
                            </div>
                        </div>
						<!-- <div class="form-group">
							<label class="control-label col-sm-4">SortId</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="sortId" ng-model="formData.sortId" ng-minlength="1" ng-maxlength="3" ng-pattern="/[0-9]{1,100}/" required/>
								<label for="inputError" class="control-label text-danger" ng-show="myForm.sortId.$invalid && !myForm.sortId.$pristine"><i class="fa fa-times-circle-o"></i> 1-100 number</label>
							</div>
						</div> -->
                        <div class="form-group">
                            <label class="control-label col-sm-4">Price</label>
                            <div class="col-sm-5">
                                <p class="form-control-static text-danger"><b>{{priceData[formData.type] | currency: '$'}} / month</b></p>
                            </div>
                        </div>
						<div class="form-group" id="div-set-url"  ng-if="formData.type !== 'product' && formData.type !== 'shop'">
							<label class="control-label col-sm-4">URL</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="url" ng-model="formData.url" placeholder="advertisement link" ng-maxlength="100" />
							</div>
						</div>
						<div class="form-group">
		                    <label for="" class="col-sm-4 control-label">Logo</label>
		                    <div class="fileinput fileinput-new col-sm-6" data-provides="fileinput">
		                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
		                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTkwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijk1IiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5MHgxNDA8L3RleHQ+PC9zdmc+" alt="Your Shop Logo (<5KB)">
		                        </div>
		                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
		                        <div>
		                            <span class="btn btn-default btn-file">
		                                <span class="fileinput-new">Select Logo</span>
		                                <span class="fileinput-exists">Change</span>
		                                <input type="file" />
		                           </span>
		                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
		                        </div>
		                    </div>
		                </div>
						<div class="form-group hide">
							<label for="" class="col-sm-4 control-label">Uploaded Logo</label>
							<div class="col-sm-6"><img id="uploaded" src="" class="img-thumbnail" style="max-width: 300px;max-height:150px;"></div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div><!-- /.row -->
</div>

<script>

    $(function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });
    });

    App.controller( "adsList", function ( $scope, $http ) {

        $scope.formData = { type: 'product' };
        $scope.productData = [];
        $scope.priceData = {
            'product': <%=AD_PRICE.product%>,
            'shop': <%=AD_PRICE.shop%>,
            'brand': <%=AD_PRICE.brand%>,
            'slide': <%=AD_PRICE.slide%>
        };
        $scope.targetID = '';
        var url = '/api/v1/ad', getUrl = url + '?shop=1';

        initPage($scope, $http, getUrl, true);
        $scope.load = function () {
            loadData($scope, $http, getUrl);
        }

        $http.get("/api/v1/product?shop_id=1").success(function (result) {
            if (typeof result === 'object') {
                $scope.productData = result.docs;
            }
        });

        // initDelete($scope, $http, url, 'Are you sure to delete the Ad?');

        $scope.processForm = function (isValid) {
            if (isValid) {
                var method = 'PUT', optUrl = url;
                if ($scope.targetID) {
                    method = 'POST';
                    optUrl = url + '/' + $scope.targetID;
                }

                angularHttp($http, method, optUrl, $scope.formData, function (result) {
                    if (result === 'success') {
                        $scope.load();
                    } else {
                        showErrorInfo(result);
                    }
                });
            }
        };

        $scope.clearForm = function () {
            $('div.fileinput').fileinput('clear');
            $scope.formData.logo = '';
            $("#uploaded").attr('src', '');
            $( this ).find( "select[name='product_id']" ).val( "" );
        };

        // 修改类别
        $('#addAd').on('show.bs.modal', function (event) {
            var obj = $(event.relatedTarget);
            var editId = obj.data('whatever');
            var modalTitle = $(this).find('.modal-title');

            // 如果不为空则为编辑状态
            if (editId) {
                modalTitle.text( "Edit Ad" );
                $http.get(url + "/" + editId).success( function (result) {
                    $scope.formData = result;
                    $scope.targetID = editId;
                    $("#uploaded").attr('src', result.logo).closest('div.form-group').removeClass('hide');
                });
            } else {
                modalTitle.text("Buy Ad");
            }
        }).on( 'hidden.bs.modal', function (event) {
            // 清空数据
            $scope.formData = { type: $( this ).find( "select[name='type']" ).val() };
            $scope.targetID = "";
            $( this ).find( "input" ).val( "" );
            $( this ).find( "select[name='product_id']" ).val( "" );
            $('div.fileinput').fileinput('clear');
            $("#uploaded").attr('src', '').closest('div.form-group').addClass('hide');
        });

        $( 'div.fileinput' ).on( 'change.bs.fileinput', function () {
            // console.log('file selected');
            var logoDUS = $( this ).find( "div.fileinput-preview img").attr( 'src' );
            $scope.formData.logo = logoDUS;
        });
        $( 'div.fileinput' ).on( 'clear.bs.fileinput', function () {
            // console.log('file clear');
            if ($scope.targetID) {
                $scope.formData.logo = $( "#uploaded img" ).attr( 'src' );
            } else {
                $scope.formData.logo = '';
            }
        });
    });

</script>
