<div class="sidebar">
    <h4 class="text-center"><b>All Functions</b></h4>
    <ul class="nav">
        <li><a href="<%=home%>detail">Shop Detail</a></li>
        <li><a href="<%=home%>order">Orders</a></li>
        <li><a href="<%=home%>product">Products</a></li>
        <li><a href="<%=home%>category">Category</a></li>
        <li><a href="<%=home%>income">Income</a></li>
        <li><a href="<%=home%>history">History</a></li>
        <li><a href="<%=home%>ad">Advertisement</a></li>
    </ul>
</div>
