<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= siteInfo.title%></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!--数据表格相关样式-->
    <link href="/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/stylesheets/backstage/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/backstage/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery 2.1.3 -->
    <!--<script src="/javascripts/jQuery-2.1.3.min.js" type="text/javascript"></script>-->
    <script src="/plugins/jQuery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!--数据绑定-->
    <script src="/plugins/angular/angular.min.js"></script>
    <!--uploadify-->
    <link href="/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="/plugins/uploadify/jquery.uploadify.min.js"></script>
    <!--d3-->
    <script src="/plugins/d3/d3.v3.min.js"></script>
    <script src="/plugins/d3/d3pie.min.js"></script>
    <!--ParknShop-->
    <script src="/javascripts/PnP-angular.js"></script>
    <link rel="stylesheet" href="/stylesheets/backstage/css/style.css"/>

</head>
<script>
    var App = angular.module("adminApp", []);
</script>
<body class="skin-blue" ng-app="adminApp">

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="/admin" class="logo"><b>PARKnSHOP</b>.com</a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <% if (adminlogined) { %>
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="User Image" class="user-image" src="<%= adminUserInfo.logo %>">
                            <span class="hidden-xs" id="adminUserName"><%= adminUserInfo.username %></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="<%=adminUserInfo.logo%>" class="img-circle" alt="User Image" />
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="/admin/logout" class="btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="searchKey" class="form-control" placeholder="Search..." value=""/>
              <span class="input-group-btn">
                <button type="submit" name='search' id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Main Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <input type="hidden" id="currentCate" value="<%=bigCategory%>"/>
                <li class="treeview active" cid="system">
                    <a href="#"><span>System Management</span> <i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="admin_user"><a href="/admin/manage/adminUsers"><i class="fa fa-user"></i> Administrator Management</a></li>
                        <li cid="ad"><a href="/admin/manage/ads"><i class="fa fa-camera-retro"></i> Ads Manage</a></li>
                        <li cid="system_log"><a href="/admin/manage/systemLogs"><i class="fa fa-calendar-o"></i> System Logs Management</a></li>
                        <li cid="data_log"><a href="/admin/manage/backup"><i class="fa fa-copy"></i> Backup</a></li>
                    </ul>
                </li>
                <li class="treeview" cid="users">
                    <a href="#"><span>Users Management</span> <i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="shop_owner"><a href="/admin/manage/users/shop_owner"><i class="fa fa-male"></i> Shop Owner Management</a></li>
                        <li cid="customer"><a href="/admin/manage/users/customer"><i class="fa fa-users"></i> Customer Management</a></li>
                        <li cid="blacklist"><a href="/admin/manage/users/blacklist"><i class="fa fa-trash"></i> Blacklist</a></li>
                    </ul>
                </li>
                <li class="treeview" cid="shopManage">
                    <a href="#"><span>Shops Management</span> <i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="shopManage"><a href="/admin/manage/shops"><i class="fa fa-home"></i> Shop Management</a></li>
                        <li cid="shopManage"><a href="/admin/manage/category"><i class="fa fa-reorder"></i> Category Management</a></li>
                        <li cid="shopManage"><a href="/admin/manage/commission"><i class="fa fa-cc-visa"></i> Commission Management</a></li>
                    </ul>
                </li>
                <li class="treeview" cid="saleManage">
                    <a href="#"><span>Sales Management</span> <i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li cid="saleManage"><a href="/admin/manage/orders"><i class="fa fa-list"></i> Order Management</a></li>
                        <li cid="saleManage"><a href="/admin/manage/sales_history"><i class="fa fa-history"></i> Sales History Management</a></li>
                        <li cid="saleManage"><a href="/admin/manage/income"><i class="fa fa-usd"></i> Income Management</a></li>
                        <li cid="saleManage"><a href="/admin/manage/payment"><i class="fa fa-credit-card"></i> Payment Management</a></li>
                    </ul>
                </li>
            </ul><!-- /.sidebar-menu -->

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= siteInfo.title %>
                <small><%= siteInfo.description %></small>
                <p class="text-danger pull-right" style="font-size: 13px;"><span id="error-info"></span></p>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <%-body %><!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="<%= curDomain %>/" target="_blank"><b>PARKnSHOP</b>.com</a>.</strong> All rights reserved.
    </footer>

</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->


<!-- Bootstrap 3.3.2 JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- 数据表格插件开始 -->
<!--<script src="/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>-->
<!--<script src="/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>-->

<!-- AdminLTE App -->
<script src="/javascripts/backstage/app.min.js" type="text/javascript"></script>



<script>
    $(function(){
        var curerntCate = $("#currentCate").val();
        var cateList = $(".sidebar-menu").find("li");
        var parentCategoryActive = $(".sidebar-menu").find(".treeview.active");
        for ( var i = 0; i < cateList.length; i++ ) {
            var obj = $(cateList[i]);
            if (obj.attr("cid") === curerntCate) {
                obj.addClass("active");
                parentCategoryActive.removeClass("active");
                obj.parent().parent().addClass("active");
            }
        }
    })
</script>

</body>
</html>
