<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=siteConfig.description%>">
    <meta content="<%=siteConfig.keywords%>" name="keywords" />
    <meta name="author" content="x-web">
    <title><%=siteConfig.title%></title>

    <!-- Bootstrap 3.3.2 -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Jasny-Bootstrap 3.1.3 -->
    <link href="/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap-datepicker 1.5.0 -->
    <link href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap-star-rating 3.5.4 -->
    <link href="/plugins/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Data Table -->
    <link href="/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- wysiwyg 1.0.0 -->
    <link href="/plugins/wysiwyg/css/wysiwyg-editor.min.css" rel="stylesheet" type="text/css" />
    <!-- 前台默认样式 -->
    <link href="/stylesheets/front/css/default.css" rel="stylesheet">

    <!-- jQuery 2.1.3 -->
    <script src="/plugins/jQuery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!-- Angular -->
    <script src="/plugins/angular/angular.min.js"></script>

    <script>
        var App = angular.module("App", []);
    </script>
</head>

<body ng-app="App">

<!-- BEGIN HEADER -->
<%- include header %>
<!-- END HEADER -->

<!-- BEGIN BODY -->
<%- body %>
<!-- END BODY -->

<!-- BEGIN FOOTER -->
<%- include footer %>
<!-- END FOOTER -->

<!-- SCRIPT -->
<!-- Bootstrap 3.3.2 JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Jasny-Bootstrap 3.1.3 JS -->
<script src="/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js" type="text/javascript"></script>
<!-- Bootstrap-datepicker 1.5.0 JS -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<!-- Bootstrap-star-rating 3.5.4 JS -->
<script src="/plugins/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>
<!-- wysiwyg 1.0.0 -->
<script src="/plugins/wysiwyg/js/wysiwyg.min.js" type="text/javascript"></script>
<!-- wysiwyg 1.0.0 -->
<script src="/plugins/wysiwyg/js/wysiwyg-editor.min.js" type="text/javascript"></script>
<!-- d3 -->
<script src="/plugins/d3/d3.v3.min.js"></script>
<script src="/plugins/d3/d3pie.min.js"></script>
<!--ParknShop-->
<script src="/javascripts/PnP.public.js" type="text/javascript"></script>
<!-- END SCRIPT -->
</body>
</html>
