<div class="bg-light">
    <div class="wrap1190 top bg-f5">
    <% if ( logined ) { %>
        <div class="btn-group">
            <!-- username -->
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <%=userInfo.username%>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu col-md-2">
                <li class="user-header">
                    <img src="<%=userInfo.logo%>" alt="User Logo" />
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="/user/manage" class="btn">Profile</a></li>
                <li><a href="/user/logout" class="btn logout"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
        <!-- message -->
        <div class="btn-group">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-envelope"></i>
                Message <span class="badge">3</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">new message 1</a></li>
                <li><a href="#">new message 2</a></li>
                <li><a href="#">new message 3</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="btn">More..</a></li>
                <li><a href="#" class="btn">Mark</a></li>
            </ul>
        </div>
    <% } else { %>
        <!-- Sign in / up -->
        <div class="btn-group">
            <a class="btn btn-top" type="button" href="/user/login">
                <i class="fa fa-sign-in"></i>
                Sign In
            </a>
        </div>
        /
        <div class="btn-group">
            <a class="btn btn-top red" type="button" href="/user/login#register">
                Sign Up
            </a>
        </div>
    <% } %>
        <!-- right btn -->
        <!-- sitemap -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-map-marker"></i>
                SiteMap
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><b>Customer</a></b></li>
                <li><a href="#">xxx</a></li>
                <li><a href="#">xxx</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><b>Shop Owner</a></b></li>
                <li><a href="#">xxx</a></li>
                <li><a href="#">xxx</a></li>
            </ul>
        </div>
        <!-- customer service -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-phone"></i>
                Service
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Customer</a></li>
                <li><a href="#">Shop Owner</a></li>
            </ul>
        </div>
        <!-- shop owner center -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-group"></i>
                Shop Owner
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/user/manage/free_shop">New Store</a></li>
                <li><a href="/shop/manage/product">On Sale</a></li>
                <li><a href="/shop/manage/history">Sell</a></li>
                <li><a href="/shop/manage">Management</a></li>
            </ul>
        </div>
        <!-- category -->
        <div class="btn-group pull-right">
            <a class="btn btn-top" type="button" href="category">
                <i class="fa fa-sitemap"></i>
                Category
            </a>
        </div>
        <!-- cart -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-shopping-cart"></i>
                Cart <span class="badge">3</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Product 1</a></li>
                <li><a href="#">Product 2</a></li>
                <li><a href="#">Product 3</a></li>
            </ul>
        </div>
        <!-- my parknshop -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-gear"></i>
                Mine
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Order</a></li>
                <li><a href="#">Brought</a></li>
                <li><a href="#">Configuration</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="nav bg-default">
    <div class="wrap1190">
        <div class="logo col-md-2 pull-left">
            <a href="/"><img src="/stylesheets/front/image/logo.jpg" /></a>
        </div>
        <div class="nav pull-left">
            <ul>
                <% for (var i = 0; i < category.length; i++) { %>
                    <% if (category[i].childs.length > 0) { %>
                        <li><a href="<%=category[i].url%>" class="dropdown-toggle" data-toggle="dropdown"><%=category[i].name%><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% for (var j = 0; j < category[i].childs.length; j++) { %>
                                    <li><a href="<%=category[i].childs[j].url%>"><%=category[i].childs[j].name%></a></li>
                                <% } %>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href="<%=category[i].url%>"><%=category[i].name%></a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="search pull-right">
            <form class="form form-inline" action="/search" type="get">
                <div class="input-group">
                    <div class="input-group-btn">
                        <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commodity <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class=""><a href="#">Shop</a></li>
                        </ul> -->
                        <select class="form-control" name="stype">
                            <option value="commodity" selected="selected">Commodity</option>
                            <option value="shop">Shop</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="search..." style="width: 250px;" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit">Search</i></button></span>
                </div>
            </form>
        </div>
    </div>
</header>

<script>
    $( function () {

        // Dropdown-auto-expand-collapse
        $("a[data-toggle='dropdown']", "div.top, div.nav").mouseenter( function () {
            $( this ).siblings( 'ul' ).dropdown('toggle');
        }).mouseleave( function () {
            var a = this;
            $( this ).siblings( 'ul' ).mouseleave( function () {
                $( this ).dropdown('toggle');
                var ul = this;
                $( a ).mouseleave( function () {
                    $( ul ).dropdown('toggle');
                });
            });
        });

        // resolve dropdown anchor disabled
        $( "ul.dropdown-menu li a", "div.top" ).click( function () {
            window.location = $( this ).attr( 'href' );
        });


    });
</script>
